.register_container{
    width: 100vw;
    min-height: 92vh;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_content{
    display: flex;
    width: 75%;
    min-height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.register_caption{
    width: 50%;
    min-height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register_caption img{
    width:20.625rem;
    animation-name:imgRotation;
    animation-duration: 3.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes imgRotation {
    0%{transform: translateY(15px);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0px);}
}
.register_caption p{
    font-size: 0.875rem;
    font-weight: 700;
}
.register_form{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem;
    background-color: white;
}
.register_form h3{
    font-size:2.1875rem;
    font-weight: 900;
    text-align: center;
}


@media screen and (max-width:1063px) {
    .register_content{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .register_caption{
        display: none;
    }
    .register_form{
        width: 100%;
        padding-bottom: 0;
    }
}
@media screen and (max-width:268px) {
    .register_container{
        padding-inline:0;
    }
}
