.side_bar{
    padding: 20px 0;
    padding-bottom: 0;
    border-radius: 40px 0 0 40px;
}
.header{
    border-bottom: 1px solid #2b2b2b2f;
}
.header h2{
    color: var(--main_color);
    font-weight: 600;
}
.close_icon{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s
}
.close_icon:hover{
    scale: 1.1;
    color: var(--main_color);
}
.list{
    padding: 0;
}
.list_item{
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.388);
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin-bottom: 0.875rem;
}
.list_item h4{
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.625rem;
}
.sub_list_item{
    margin: 0.5rem 0;
}
.sub_list_item_en{
    font-family: 'Times New Roman', Times, serif;
}
.sub_list_icon{
    margin-right: 0.5rem;
    color: var(--slate_blue);
}
.sub_list_icon_ar{
    margin-left: 0.5rem;
    color: var(--slate_blue);
}
.controllers{
    display: flex;
    justify-content: flex-end;
}
.trash_icon,.arrow_right_icon,.eye{
    margin-inline: 0.625rem;
    font-size: 0.9375rem;
    background-color: var(--main_color);
    color: white;
    padding: 0.5rem 0.5625rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    transition: all .4s;
}
.eye{
    background-color: white;
    box-shadow: 0 0 3px black;
    padding: 8px;
    color: var(--sub_color);
}
.eye:hover{
    background-color: var(--sub_color);
    color: white;
}
.arrow_right_icon{
    background-color: var(--sub_color);
    color:white;
}
.arrow_right_icon:hover{
    background-color: white;
    color: var(--sub_color);
    border: 0.0625rem solid var(--sub_color);
}
.trash_icon:hover{
    background-color: white;
    color: var(--main_color);
    border: 0.0625rem solid var(--main_color);
}

.header{
    width: 100%;
    margin-bottom: 1.25rem;
 }
 .header_list{
    display: flex;
    justify-content:center;
 }
 .header_list_item{
    font-size: 1.125rem;
    font-weight:500;
    border-bottom: 0.25rem solid rgb(186, 186, 186);
    padding-inline: 3.125rem;
    color: rgb(186, 186, 186);
    cursor: pointer;

     }
 .active{
    color: var(--blue);
    border-bottom:4px solid var(--blue);
 }
 @media (max-width: 390px) {
    .header_list_item{
        font-size: 15px;
        padding-inline: 30px;
    
         }
   }