.acc_setting_body{
padding: 20px;
height: 78vh;
overflow-y: auto;
scrollbar-color: transparent transparent ;
}
.form_container{
    padding: 15px 10px  10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.284);
    margin-bottom: 20px;
}
.verify_container{
    box-shadow: 0 0 3px yellow;
}

