.card_body{
   margin: 3.125rem 0;
   border: 0.0625rem solid rgba(0, 0, 0, .1);
   border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.238);
   border-radius: 0.625rem;
}
.card_stage{
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.159);
    border-radius: 0.625rem;
    overflow: hidden;
    width: 100%;
}

.btns_group{
    display: flex;
}
.responsive_btns_group{
    display: none;
}

.list{
   padding: 0;
}
.list_item{
    margin: 10px 0;
}
.list_item span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.list_icon{
    font-size: 20px;
    color: var(--slate_blue);
    margin-inline: 10px;
}

@media (max-width: 500px) {
    .btns_group {
      display: none;
    }
    .responsive_btns_group{
        display: flex;
    }
  }