.wallet_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.wallet_balance{
    background-color: #05034bc7;
    text-align: center;
    min-width: 60%;
    padding:3.125rem 0.625rem 1.25rem 0.625rem;
    margin-top: 2.5rem;
    border-radius: 1.25rem;
    position: relative;
    overflow: hidden;
}
.wallet_balance h2{
    font-size: 1.25rem;
    color: rgb(209, 209, 209);
    margin-bottom: 1.25rem;
    font-weight: 300;
}
.wallet_balance h3{
    font-size: 5.625rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.btn_group{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.875rem;
}
.wallet_img{
    width: 6.25rem;
    position: absolute;
    right: 0.125rem;
    top: -0.625rem;
}

@media only screen and (max-width: 650px) {
    .wallet_balance{
        background-color: #05034bc7;
        text-align: center;
        min-width: 98%;
        padding:50px 10px 20px 10px;
        margin-top: 40px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
}
@media only screen and (max-width: 240px) {
   .wallet_img{
    display: none;
   }
   .wallet_balance h3{
    font-size: 2.5rem;
   }
   
}
