.tab_container{
   margin: 3.125rem 0.625rem;
   min-height: 80vh;
   position: relative;
}

.side_bar_tab{
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.486);
}
.profile_img{
    width: 3.75rem;
    border-radius: 50%;
}
.profile_img img{
    width: 100%;
    border-radius: 50%;
}
.side_bar_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    padding-left: 0.625rem;
}
.nav_item{
    margin: 0 0.3125rem 1.5625rem 0.3125rem;
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0.1875rem;
    border-radius: 0.3125rem;
    transition: all .3s;
}
.nav_item:hover{
background-color: var(--ivory_color);
cursor: pointer;
scale: 1.03;
}
.list_icon{
    font-size: 1.5625rem;
    color:var(--slate_blue);
}


/* _____________________________________________________________horizontal proifle______________________________________ */


@media screen and (max-width:992px) {
    .ribbon{
        display: none;
    }
}
