
.nav_list li a{
    color: var(--font_color);
    font-weight: 700;
    font-size: 0.9375rem;
    transition: all .3s;
    position: relative;
}
.nav_white li a{
    color: white;
}
.nav_list li a::after{
    content: '';
    width:0;
    height:0.0625rem;
    background-color: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}
.nav_list li a:hover::after{
    width:  100%;
}
.nav_list li a:hover{
    color: var(--main_color);
}

.nav_list li a.active{
    position: relative;
    color: var(--main_color);
}

.nav_list li a.active::before{
    content: '';
    width:0;
    height:0.0625rem;
    background-color: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}

.brand{
    width:4.375rem;
    cursor: pointer;
}

.burger_list{
    width: 2.5rem;
    height: 1.5625rem;
    cursor: pointer;
    display: none;
}

.half_line{
    width: 50%;
    height: 0.1875rem;
    background-color: black;
    transition: width .3s;
}
.full_line{
    width: 100%;
    height: 0.1875rem;
    background-color:black;
}

.burger_list:hover .half_line{
    width: 100%;
}

.sign_btn{
    margin-inline: 0.625rem;
}

.list:hover{
    transform: scale(1.1);
}

 .burger_list_white .half_line, .burger_list_white .full_line{
    background-color: white !important;
}

.cart_icon,.lang_icon{
    font-size:1.5625rem;
    fill: var(--main_color) !important;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}
.cart_badge{
    position: absolute;
    left: 110%;
    top: -15px;
    transform: translateX(-50%);
}
.lang_icon{
    margin-inline: 1.875rem;
}
.cart_icon:hover,.lang_icon:hover{
    scale: 1.08;
    color: var(--dusty_Gold);
}

.lang_item{
    cursor: pointer;
    transition: all .6s;
}
.active_lang span{
    background-color: var(--ivory_color);
}
.active_lang span:hover{
    background-color: var(--ivory_color);
}
.user_icon{
    font-size: 0.9375rem;
    color: white;
    transition: all .6s;
}
.profile_img{
   width: 45px;
   border-radius: 50%;
   cursor: pointer;
   transition: scale .4s;
}
.profile_img img{
    width: 100%;
    border-radius: 50%;
}
.profile_img:hover{
    scale: 1.04;
}

.nav_controllers{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1150px) {
    
    .list{
        display: flex;
    }

    .special_hidden{
        display: none;
    }
}

@media screen and (max-width:536px) {
    .sign_btn{
        display: none ;
    }
    .brand{
        width: 3.75rem;
    }
}

@media screen and (max-width:355px) {
    .brand{
        width: 3.125rem;
    }   
    .main_nav{
        justify-content: center;
     }
}


@media screen and (max-width:301px) {
    .nav_controllers{
        display: none !important;
    }
}
