.store_card{
    margin: 1.25rem 0;
}
.store_logo{
    width: 4.6875rem;
    border-radius: 50%;
}
.store_logo img{
    border-radius: 50%;
}
.card_body{
    max-width: 21.875rem;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.242);
    border-radius: 17px !important;
    min-height: 100%;
}
.filter_box{
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0.5rem;
    cursor: pointer;
    background-color: var(--main_color);
    color: var(--white);
    font-weight: 600;
    transition: all .4s;
}
.filter_box:hover svg{
    cursor: pointer;
    transition: all .4s;
}
.filter_box:hover{
   background-color: white;
   color: var(--main_color);
   border: 1px solid var(--main_color);
}
.filter{
    font-size: 1.125rem;
}
.card_img_div{
    border-radius: 0.9375rem;
    min-height: 10.9375rem;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.card_img_div_layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    opacity: 0;
    transition: all .5s;
}
.back_img{
    width: 100%;
}
.card_img_div:hover{
    transform: rotateY(180deg);
}
.card_img_div:hover .card_img_div_layer{
    transform: rotateY(180deg);
    opacity: 1;
}

.controllers_icon{
    position: absolute;
    top:-0.5rem;
    right:-0.625rem;
    display: flex;
}
.controllers_icon_ar{
    position: absolute;
    top:-0.625rem;
    left:-0.9375rem;
    display: flex;
}
.cart_icon,.arrow_icon{
    margin-inline: 0.625rem;
    padding:0.5rem;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.332);
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
}
.cart_icon:hover,.arrow_icon:hover{
    transform: translateY(0.3125rem);
    background-color: var(--main_color);
    color: white;
}
.card_price{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight: 500;
}
.price_range{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.price_range input{
    width: 35%;
    margin-inline: 0.625rem;
}
.price_range button{
    background-color: white;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.197);
    padding:0.3125rem 0.9375rem;
    border-radius: 0.625rem;
    color: var(--main_color);
    border: 0.0625rem solid var(--main_color);
    transition: all .4s;
}
.price_range button:hover{
    color: var(--blue);
    border: 0.0625rem solid var(--blue);
}

@media screen and (max-width:480px) {
    .controllers{
        flex-direction: column-reverse;
    }
    .search_field{
        margin-bottom: 10px;
    }
}