.store_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.208);
    border-radius: 0.625rem;
    padding: 3.125rem 4.375rem;
}
.store_card{
    cursor: pointer;
}
.store_logo{
    border-radius: 50%;
    width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 0.625rem;
    position: relative;
}
.store_logo img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter_box{
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0.5rem;
    cursor: pointer;
    background-color: var(--main_color);
    color: var(--white);
    font-weight: 600;
    transition: all .4s;
}
.filter_box:hover svg{
    cursor: pointer;
    transition: all .3s;
}
.filter_box:hover{
   background-color: white;
   color: var(--main_color);
   border: 1px solid var(--main_color);
}
.filter{
    font-size: 1.125rem;
}

.category_label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category_label img{
    margin-inline: 10px;
    width: 50px;
}
.cat_icon{
    font-size:40px;
    margin-inline: 10px;
    color: var(--main_color);
}
.noData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.noData img{
    width: 300px;
}
.select_category_field{
    width: 400px;
}
_________________________________________store profile____________________________________________________
.main_container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin: auto;
    padding:50px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.266);
    
}
.myStore_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_body{
 background-color: #F9F9FB;   
 margin-top: 10px;
}
.customGiftCard{
    width: 480px;
    aspect-ratio: 16/9;
}

.link_icon{
    position: absolute;
    right: -25px;
    top: 30px;
    background-color: var(--sub_color);
    padding: 10px;
    border-radius: 50%;
    color: white;
    transform: translate(-50%,-50%);
}

@media screen and (max-width:350px) {
    .noData img{
        width: 200px;
    }
}