.canva_body {
    text-align: center;
    margin: 50px 0;
    padding-bottom:50px;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .card_side_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    position: relative;
  }
.control_side_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel_body{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

  .card_side_header{
    position: absolute;
    left:0;
    top: 0;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 100%;
    padding: 0.625rem 1.875rem;
  }
  
  .card {
    height: auto;
    width: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow:  0 0 0.3125rem rgba(0, 0, 0, 0.4);  
  }

  .logoThumb{
    width: 5rem;
    margin: 1.875rem 2.5rem;
  }
  .choose_color{
    overflow-x: hidden;
  }
  .title{
    font-size: 2.25rem;
  }
  .color_circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0.625rem 0;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.916);
    cursor: pointer;
    transition: all .4s;
  }
  .color_circle:hover{
    scale: 1.08 ;
  }
  .color_group{
    margin: 1.875rem 0.3125rem ;
  }
.fontSize_input{
    width: 6.25rem;
    height:2.5rem ;
    color: black !important;
  }
  .choose_shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
  .shapes_container,.logo_container{
        justify-content: center;
        overflow-x: hidden;
        width: 100%;
  }
    .shape_div{
        Width: 16.875rem; 
        aspect-ratio:16/9;
        margin: 1.25rem 0;
        border-radius: 0.3125rem;
        cursor: pointer;
        transition: all .4s;
        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.525);
    }

    .shape_div img{
        border-radius: 0.3125rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .logo_div{
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all .4s;
        margin: 1.25rem 0;
        box-shadow:  0 0 3px black;
    }
    .logo_div img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text_container div input{
      background-color: transparent !important;
      border: 0.0625rem solid rgba(0, 0, 0, 0.262);
    }

    .text_editors{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .select_input{  
      width: 75%;
      margin-inline: 0.3125rem;
    }
    .color_input{
      width: 6.25rem;
      height: 2.5rem;
      margin-inline: 0.3125rem;
    }
    .text_input{
      background-color: transparent;
      margin-bottom: 1.25rem;
      height: 6.25rem !important;
      color: #000 !important;
      border: 0.0625rem solid rgba(0, 0, 0, 0.293);
    }
    .text_input:focus{
      background-color: transparent !important;
    }
    .text_containers_parent{
      padding: 3.125rem;
      overflow-x: hidden;
      width: 90%;
      margin: auto;
    }

    .steps_indicator {
      display: flex;
      justify-content: space-around;
      margin: 1.25rem 0 0.3125rem 0;
    }
    
    .step {
      font-size: 0.875rem;
      padding: 0.625rem 2.5rem;
      text-align: center;
      color: #ccc;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .step_num{
      background-color: rgba(128, 128, 128, 0.416);
      color: white;
      border-radius: 50%;
      padding: 0.625rem;
      width:1.375rem;
      height:1.375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0.1875rem;
    }
    .active_step .step_num{
      background-color:#41547B;
    }
    .step_num span{
      margin-left: 3px;
      font-size: 10px !important;
    }
    .active_step {
      font-weight: bold;
      color: #000;
    }
    
    .step span {
      margin-right: 5px;
      font-size: 16px;
      font-weight: bold;
    }
    

    @media screen and (max-width:992px) {
      .canva_body {
        height: auto;
        margin: 30px 0;
      }
      .card_side_container{
        margin: 30px 0;
      }
      .text_containers_parent{
        padding: 5px;
        width: 100%;
      }
    }

    @media screen and (max-width:450px) {
      .text_editors{
       flex-direction: column;
      }
      .text_editors input,.select_input{
        width: 100%;
        margin: 20px 0;
      }
      .step {
        padding: 10px;
      }
    }
    @media screen and (max-width:260px) {
      .card_side_header{
       display: none;
      }
      .steps_indicator{
        flex-wrap:wrap;
      }
    }

