/* ------------------------------------------------- sec3 quality section----------------------- */

.sec2_quality_img{
    width: 600px;
    height: 338px;
    border-radius: 5px;
}
.sec2_quality_img img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec3_caption h2{
    margin-bottom: 3rem;
    font-size: 55px;
}
.sec3_caption p{
    font-size:18px;
}

/* ------------------------------------------------- sec4 caption section----------------------- */
.caption{
    background-image: url(../../Images/caption.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    width: 85vw;
    border-radius: 10px;
    padding-inline:3.125rem;
    margin: auto;
    margin-bottom: 3.125rem;
    text-align: center;
}
.caption h2{
    font-weight: 900;
    font-family: var(--jakarta);
    font-size:2.5rem;
    margin-bottom: 1.875rem;
}
.caption p{
    font-size:1.25rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
}
.caption_text{
    color: white;
    background-color: #494361;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.letter_spacing{
    letter-spacing: 2px;
}

@media screen and (max-width:768px){
    .sec3_caption h2{
        margin-bottom:5px;
        margin-top: 40px;   
    }
    .sec3_caption{
        text-align: center;    
    }
}
@media screen and (max-width:535px){
    .caption{
        min-height: 60vh;
        width: 95vw;
        padding-inline:0;
    }
}