.loading_spinner{
    color: var(--slate_blue);
}


/* cart icon */
.cart_badge{
    position: absolute;
    left: 110%;
    top: -15px;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif !important;
}

.cart_icon{
    font-size:1.5625rem;
    color: white !important;
    cursor: pointer;
    transition: all .3s;
}

.cart_icon:hover{
    scale: 1.08;
}