@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--main_font);
}
body {
  overflow-x: hidden;
  background-color: var(--main_bg_color);
}
:root{
  --main_font:"Playfair Display", serif;
  --main_color:#C61A32;
  --white:rgb(238, 237, 237);
  --sub_color:#2D3A58;
  --blue:#1a429d;
  --dark_white:rgb(129, 129, 129);
  --main_color_lighter:rgba(228, 181, 181, 0.3);
  --main_bg_color:#FEF7EF;
  --slate_blue:#6A7E8C;
  --ivory_color:#f5f5d7;
  --dusty_Gold:#C2A14D;
}

::-webkit-scrollbar-thumb{
  background-color: var(--main_color);
  border-radius: 0.625rem;
}   
::-webkit-scrollbar-track{
  background-color: var(--main_bg_color);
}
::-webkit-scrollbar{
  background-color: var(--main_bg_color);
  width:0.3125rem;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
}
input{
  outline: none;
  padding:8px 10px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  transition: all .4s;
}
input:focus{
  border: 1px solid var(--main_color);
  box-shadow: 0 0 5px rgba(0, 110, 255, 0.8);
}
input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

.mini_word{
  font-size: 12px !important;
  color: var(--dark_white) !important;
  font-weight: 700;
}

.special_main_color{
  color: var(--main_color);
}

ul li{
  list-style: none;
}
.main_shadow{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.266);
}


.or_span{
  position: relative;
  text-align: center;
}
.or_span::after{
  content: "";
  width: 12.5rem;
  height: 0.0625rem;
  background-color: rgb(202, 202, 202);
  position: absolute;
  top: 50%;
  left:1.25rem;
}
.or_span::before{
  content: "";
  width: 12.5rem;
  height: 0.0625rem;
  background-color: rgb(202, 202, 202);
  position: absolute;
  top: 50%;
  right:1.25rem;
}
.disabled{
  pointer-events: none;
  opacity: 0.4;
}

.nav-item .active{
  background-color: transparent !important;
  color: var(--blue)!important;
  font-weight: 700 !important;

}
.nav-link{
  color: black !important;
  font-weight: 600 !important;
}
.rmdp-container{
  text-align: center;
}
.rmdp-input{
  font-size:1.875rem;
  padding: 2.5rem 1.25rem !important;
  text-align: center;
  letter-spacing: 0.125rem;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
}
@media screen and (max-width:768px) {
  body,html{
    font-size: 14px;
  }
}
@media screen and (max-width:305px) {
  .rmdp-input{
    font-size:1.25rem;
    padding: 1.25rem 0.625rem !important;
    letter-spacing: normal;
  }
}