.header_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../Images/banner.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0 1rem;
}

.caption_div{
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 1rem;
    z-index: 10;
    opacity: .8;
}

.title{
    font-size: 4.5rem !important;
    text-transform: capitalize;
    color: #F9FAFB;
    
}
.caption{
    font-size: 1.875rem !important;
    text-transform: capitalize;
    color: white;
}
.layer{
    background-color: black;
}

@media screen and (max-width:450px) {
    .title{
        font-size: 3.125rem !important;
    }
    .caption{
        font-size: 1.5625rem !important;
    }  
}